@import "../../node_modules/gijgo/css/gijgo.css";

@font-face {
    font-family: 'gijgo-material';
    src: url('../../node_modules/gijgo/fonts/gijgo-material.eot');
    src: url('../../node_modules/gijgo/fonts/gijgo-material.eot?#iefix') format('embedded-opentype'), 
        url('../../node_modules/gijgo/fonts/gijgo-material.ttf') format('truetype'), 
        url('../../node_modules/gijgo/fonts/gijgo-material.woff') format('woff'), 
        url('../../node_modules/gijgo/fonts/gijgo-material.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}